{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}
    Страница работодателя 
{% endblock %}


{% block content %}

<div class = "row">
  <div class = "col-md-3 col-sm-6 me-5">
    {% if account.photo %}
        <img class="rounded-circle" src="{{ account.photo.url }}" alt="image" height="250" width="250">
    {% else %}
        <img class="rounded-circle" src="{% static 'img/no_photo_company.jpg' %}" alt="image" height="400" >
    {%endif%} 
  </div>
  <div class = "col-md-7 col-sm-6">
    <h3>{{ account.name }}</h3>
    {% if account == user %}

    <form action="{% url 'account_update' account.username %}" method="POST" enctype="multipart/form-data">    
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary btn-sm ms-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Редактировать профиль
      </button>
      <a class="btn btn-secondary btn-sm ms-5" href="{% url 'vacancy_create' %}" class="nav-link" aria-current="page">Добавить вакансию</a>
      <a class="btn btn-secondary btn-sm ms-5" href="{% url 'resume_list' %}" class="nav-link" aria-current="page">Список резюме</a>

      <!-- Modal update account-->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Редактирование профиля</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% csrf_token %}
            {{ accout_update_form|bootstrap }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm ms-5" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-secondary btn-sm ms-5">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </form>
    {% endif %}
    {% if account.description %}
      <p>{{ account.description }}</p>
    {% endif %}

  </div>
</div>


<h3>Список вакансий</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Вакансия</th>
        <th scope="col">Зарплата</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% for vacancy in account.vacancies.all %}
      {% if account == user or vacancy.is_public %}
        <tr>
          <td>
            <a href="{% url 'vacancy_detail' vacancy.pk %}">{{ vacancy.name }}</a>
            <div>{{vacancy.updated_at}}</div>
            {% if not vacancy.is_public %} <div>Не опубликовано</div> {% endif %}
          </td>
          <td>{{ vacancy.salary }} тенге</td>
          {% if account == user %}
            <td><a href="{% url 'vacancy_update' vacancy.pk %}">Редактировать</a></td>
            <td><a href="{% url 'vacancy_date_update' vacancy.pk %}">Обновить</a></td>
          {% endif %}

        </tr>
      {% endif %}
        
      {% endfor %}
    </tbody>
  </table>
  {% if account == user %}
    <h3>Список откликов на вакансии</h3>
    <div>

      {% for vacancy in account.vacancies.all %}
        {% if vacancy.responses.all %}
          <div>Вакансия: {{ vacancy.name }}</div>
          <div>Откликнулись</div>
          {% for response in vacancy.responses.all %}
          <div>
            <a class="me-5"href="{% url 'account_detail' response.resume.author.username %}">
              {{ response.resume.author.name }}
            </a>
            <a class="me-5"href="{% url 'detail_resume' response.resume.pk %}">
              {{ response.resume.name }}
            </a>
            <a class="btn btn-secondary btn-sm ms-5 chat" id="{{ response.pk }}" data-bs-toggle="modal" data-bs-target="#messagesModal" href="">
              Чат
            </a>
            <hr>
          </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
      <hr>
    </div>



    <!-- Modal chat-->
    <div class="modal fade" id="messagesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Написать сообщение</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id='message-modal-body'>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm ms-5" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-secondary btn-sm ms-5">Save changes</button>
          </div>
        </div>
      </div>
    </div>


  {% endif %}

<script src="{% static 'js/chat.js' %}"></script>

{% endblock %}
