{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}
    Просмотр страницы соискателя
{% endblock %}

{% block content %}
<div class = "row">
  <div class = "col-md-3 col-sm-6 me-5">
    {% if account.photo %}
        <img class="rounded-circle" src="{{ account.photo.url }}" alt="image" height="250" width="250">
    {% else %}
        <img class="rounded-circle" src="{% static 'img/default.jpeg' %}" alt="image" height="250" >
    {%endif%}
  </div>
  <div class = "col-md-7 col-sm-6">
    <h3>{{ account.name }}</h3>
    {% if account == user %}

    <form action="{% url 'account_update' account.username %}" method="POST" enctype="multipart/form-data">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary btn-sm ms-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Редактировать профиль
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Редактирование профиля</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% csrf_token %}
            {{ accout_update_form|bootstrap }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm ms-5" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-secondary btn-sm ms-5">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </form>
    {% endif %}
    {% if account.description %}
      <p>{{ account.description }}</p>
    {% endif %}
    <a href="{% url 'create_resume' %}">
      <button type="button" class="btn btn-primary" >
        Создать резюме
      </button>
    </a>
<div class="row mt-5">
{% for resume in account.resumes.all %}
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{resume.vacancy_category}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{resume.salary}}</h6>
      <h7 class="card-subtitle mb-2 ">{{resume.updated_at}}</h7>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--    <a href="#" class="card-link">Card link</a>-->
<!--    <a href="#" class="card-link">Another link</a>-->
<!--    <a href="#" class="card-link">Card link</a>-->
    <div class="row ">
        <div class="col-4 card-link">
            <form action="{% url 'resume_update_date' resume.pk %}" method="POST">
                {% csrf_token %}
                <div id="container">
                    <button type="submit" class="btn btn-primary">Обновить</button>
                </div>
            </form>
        </div>
        <div class="col-4 card-link">
            <form action="{% url 'resume_public' resume.pk %}" method="POST">
                {% csrf_token %}
                <div >
                    {% if resume.is_public %}
                    <button type="submit" id="public" class="btn btn-primary">Не публиковать</button>
                    {% else%}
                    <button type="submit" id="public" class="btn btn-primary">Опубликовать</button>
                    {% endif %}
                </div>
            </form>
        </div>
        <a href="{% url 'edit_resume' resume.pk %}" role="button" class="col-4 btn btn-primary card-link">Редактировать</a>
  </div>
  </div>
</div>
{% endfor %}
</div>
  </div>
</div>
{% endblock %}