{% extends 'base.html' %}
{% load bootstrap %}
{% load static %}

{% block title %}
    Просмотр страницы соискателя
{% endblock %}

{% block content %}
<div class = "row">
  <div class = "col-md-3 col-sm-6 me-5">
    {% if account.photo %}
        <img class="rounded-circle" src="{{ account.photo.url }}" alt="image" height="250" width="250">
    {% else %}
        <img class="rounded-circle" src="{% static 'img/default.jpeg' %}" alt="image" height="250" >
    {%endif%}
  </div>
  <div class = "col-md-7 col-sm-6">
    <h3>{{ account.name }}</h3>
    {% if account == user %}

    <form action="{% url 'account_update' account.username %}" method="POST" enctype="multipart/form-data">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-secondary btn-sm ms-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Редактировать профиль
      </button>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Редактирование профиля</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% csrf_token %}
            {{ accout_update_form|bootstrap }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm ms-5" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-secondary btn-sm ms-5">Save changes</button>
            </div>
          </div>
        </div>
      </div>

    </form>
    {% endif %}
    {% if account.description %}
      <p>{{ account.description }}</p>
    {% endif %}
      {% if account == user %}
    <a href="{% url 'create_resume' %}">
      <button type="button" class="btn btn-secondary btn-sm ms-5" >
        Создать резюме
      </button>
    </a>
      {% endif %}

      <h3>Список вакансий</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Резюме</th>
        <th scope="col">Зарплата</th>
        {% if account == user %}
        <th scope="col">Действия</th>
        <th scope="col">Изменения</th>
      {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for resume in account.resumes.all %}
      {% if account == user or resume.is_public %}
        <tr>
          <td>
            <div>
            <a href="{% url 'detail_resume' resume.pk %}">{{ resume.vacancy_category }}</a>
              <div>{{resume.updated_at}}</div>
            </div>

          </td>
          <td>{{ resume.salary }} тенге</td>
          {% if account == user %}
            <td><a href="">
              <div class="card-link">
            <form action="{% url 'resume_update_date' resume.pk %}" method="POST">
                {% csrf_token %}
                <div id="container">
                    <button type="submit" class="btn btn-secondary btn-sm mr-5">Обновить</button>
                </div>
            </form>
        </div>
            </a>
              <a href="">
              <div class="card-link">
            <form action="{% url 'resume_public' resume.pk %}" method="POST">
                {% csrf_token %}
                <div >
                    {% if resume.is_public %}
                    <button type="submit" id="public" class="btn btn-secondary btn-sm mr-5">Не публиковать</button>
                    {% else%}
                    <button type="submit" id="public" class="btn btn-secondary btn-sm mr-5">Опубликовать</button>
                    {% endif %}
                </div>
            </form>
        </div>
            </a>
            </td>

          <td>
            <a href="">
              <div class="card-link" >
                <form action="{% url 'delete_resume' resume.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-sm mr-5">Удалить</button>
                </form>
        </div>
            </a>
            <a>
               <a href="{% url 'edit_resume' resume.pk %}" role="button" class="btn card-link btn-secondary btn-sm mr-5">Редактировать</a>
            </a>
          </td>

          {% endif %}

        </tr>
      {% endif %}

      {% endfor %}
    </tbody>
  </table>






{% endblock %}