{% extends 'base.html' %}
{% load bootstrap %}

{% comment %} {% load static %} {% endcomment %}


{% block content %}

<form method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
    <div class='form'>
        {% csrf_token %}
        {{ form|bootstrap }}

        <input type="submit" value="Зарегистрироваться">

    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
$('select').on('change', function () {
    option = $("select option:selected").val();
     if (option == 1){
         $('[for="id_name"]').text('Название компании');
     }
     else{
         $('[for="id_name"]').text('Имя');
     }
 })
</script>
{% endblock %}