{% extends 'base.html' %}
{% load bootstrap %}


{% block title %}
Добавить резюме
{% endblock %}

{% block content %}
<div >
    <form action="{% url 'edit_resume' resume.pk %}" method='POST' enctype="multipart/form-data">
    <div class='form'>
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" value="Создать резюме">
    </div>
</form>
</div>

<div>
    <form method="POST" action="{% url 'delete_resume' resume.pk %}">
                {% csrf_token %}<input type="submit" value="Отмена">
         </form>
</div>

<div>

    <span><a href="{% url 'add_education' resume.pk %}">
        <button type="button" class="btn btn-primary" >
        Добавить образование
      </button></a>
    </span>
    <span><a href="{% url 'add_experience' resume.pk %}">
        <button type="button" class="btn btn-primary" >
        Добавить опыт работы
      </button></a>
    </span>
</div>

{% endblock %}