{% extends 'base.html' %}
{% load bootstrap %}


{% block title %}
Вакансия
{% endblock %}

{% block content %}

<p>Вакансия: {{ response.vacancy }}</p>
<p>Откликнулся: {{ response.applicant.name }}</p>
<p>Резюме соискателя: {{ response.resume }}</p>
<p>Сообщения:</p>
    {% for message in response.messages.all %}
        <p>Автор сообщения: {{ message.author }}</p>
        <p>Текст: {{ message.text }}</p>
        <p>Дата создания: {{ message.created_at }}</p>
    {% endfor %}

    <form action="{% url 'message_create' response.pk %}" method='POST' enctype="multipart/form-data">
        <div>
            {% csrf_token %}
    
            {{ form|bootstrap }}
    
    
            <input type="submit" value="Сохранить">
    
        </div>
    </form>

{% endblock %}